


$font-family-base: 'Open sans';
$primary: #243d36;
//@function: #a24936;
//$secondary: #c59c8a;
//$secondary: #6a8d92;
//$secondary: #ca5b01;
//$secondary: #247D96;
//$secondary: #c59b76;
//$secondary: #ac8887;
//$secondary: #fe5f55;
//$secondary: #d5573b;
$secondary: #9f4a54;





/*$theme-colors: (
  primary: $green,
  secondary: $teal
);*/

@import '~bootstrap/scss/bootstrap.scss';